.img{
    background-image: url('../assets/space.jpg');
    background-size: cover;
}
img {
    width: 200px;
}

.container{
    height: 500px;
}

label {
    display: block;
    height: 50px;
}

ul{
    list-style: none;
}
a{
    color: white;
}